---
import Menu from "@/assets/svgs/menu.astro";
import { getNavigation } from "@/lib/sanity.js";

const navigation = await getNavigation();
const navItems = navigation.items;
---

<div class="dropdown">
  <button
    tabindex="0"
    role="button"
    class="btn btn-ghost btn-circle"
    aria-label="Menu"
  >
    <Menu />
  </button>

  <ul
    tabindex="0"
    class="menu dropdown-content z-50 bg-base-100 rounded-box w-56 shadow"
  >
    <!-- Seulement Home + ton menu Sanity -->
    <li><a href="/" aria-label="Homepage">Home</a></li>

    {
      navItems.map((item) =>
        item.subItems ? (
          <li>
            <details>
              <summary class={item.highlighted ? "font-bold" : ""}>
                {item.text}
              </summary>
              <ul>
                {item.subItems.map((subItem) => (
                  <li>
                    <a
                      href={subItem.href}
                      target={subItem.target}
                      aria-label={subItem.text}
                    >
                      {subItem.text}
                    </a>
                  </li>
                ))}
              </ul>
            </details>
          </li>
        ) : (
          <li>
            <a
              href={item.href}
              target={item.target}
              aria-label={item.text}
              class={item.highlighted ? "font-bold" : ""}
            >
              {item.text}
            </a>
          </li>
        ),
      )
    }
  </ul>
</div>
